@import '../config';

h2,
h3,
h4,
h5 {
    @include media-mobile {
        font-size: 1rem;
        line-height: 1.4;
    }
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

        .modal {
            @include media-tablet {
                width: 80%;
            }

            @include media-mobile {
                width: 100%;
                height: 100%;
                border-radius: 0;
                border: none;
            }
            font-family: inherit;
            width: clamp(30%, 1024px, 80%);
            background-color: rgb(3, 5, 12);
            border-radius: 15px;
            height: 90%;
            border: 1px solid #718093a2;
            color: white;
            z-index: 11;
            overflow-y: auto;
            overflow-x: hidden; 
            font-weight: 400;
            line-height: 1.5;
            font-size: 1rem;
            position: relative;

            span {
                display: block;
                line-height: 1.6;
                color: $primary-text-color;
                font-weight: 500;
                font-size: 1rem;
            }
            
            &__x-button {
                position: absolute;
                right: 2rem;
                top: 2rem;
                cursor: pointer;
            }

            &__hero {
                @include media-mobile {
                    height: 38vh;
                }
                width: 100%;
                height: 38%;
            }

            &__details {
                @include media-tablet {
                    top:20%;
                }

                @include media-mobile{
                    top: 28%
                }
                position: absolute;
                top: 23%;
                padding-inline: 2rem;
                font-size: .95rem;

                &__profile {
                    display: flex;
                    align-items: flex-end;
                    gap: 1rem;
                    color: $secondary-text-color;

                    &__image {
                        width: 120px;
                        border-radius: 10px;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.585);
                    }

                    &__title {
                        @include media-mobile {
                            max-width: 80%;
                        }
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 1.1;
                    }
                }

                &__genres {
                    margin-block: 1.2rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .8rem;

                    &__genre {
                        padding: .2rem .9rem ;
                        border: 1px solid #718093;
                        border-radius: 1.6rem;
                        font-size: .9rem;
                        display: flex;
                        align-items: center;
                    }
                }

                &__tagline {
                    color: #95c7f7;
                    margin-top: 1.5rem;
                }

                &__overview {
                    @include media-mobile {
                        max-width: 100%;
                    }
                    margin-block: 1.5rem;
                    max-width: 90%;
                }

                &__stats {
                    @include media-tablet {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    
                    @include media-mobile {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    row-gap: 1rem;
                }
            }
        }
    
        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10;
        }
    }