@import '../config';

h2,
h3,
h4,
h5 {
    @include media-mobile {
        font-size: 1rem;
        line-height: 1.4;
    }
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

        .modal {
            @include media-tablet {
                width: 80%;
            }

            @include media-mobile {
                width: 100%;
                height: 100%;
                border-radius: 0;
                border: none;
            }
            font-family: inherit;
            width: clamp(30%, 1024px, 80%);
            background-color: rgb(3, 5, 12);
            border-radius: 15px;
            height: 90%;
            border: 1px solid #718093a2;
            color: white;
            z-index: 10;
            overflow-y: auto;
            overflow-x: hidden; 
            font-weight: 400;
            line-height: 1.5;
            font-size: 1rem;
            position: relative;

            h3 {
                @include media-mobile {
                    font-size: 1.05rem;
                }
                display: block;
                line-height: 1.2;
                color: $primary-text-color;
                font-weight: 500;
                font-size: 1.1rem;
            }
            
            &__x-button {
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                font-size: 1.4rem;
                cursor: pointer;
            }

            &__hero {
                @include media-mobile {
                    height: 40vh;
                }
                width: 100%;
                height: 40%;
            }

            &__details {
                @include media-tablet {
                    top:20%;
                }

                @include media-mobile{
                    top: 28%
                }
                position: absolute;
                top: 23%;
                left: 0;
                right: 0;
                padding-inline: 1.5rem;
                padding-bottom: 2rem;
                font-size: 1rem;
                color: rgb(174, 174, 174);

                &__profile {
                    display: flex;
                    align-items: flex-end;
                    gap: 1rem;
                    margin-bottom: 2rem;

                    &__image {
                        width: 120px;
                        border-radius: 10px;
                    }

                    &__title {

                        h2 {
                            @include media-mobile {
                                font-size: 1.3rem;
                            }
                            color: $primary-text-color;
                            font-size: 1.3rem;
                            font-weight: 500;
                            line-height: 1.2;
                        }

                        p {
                            @include media-mobile {
                               font-size: .9rem;
                            }
                            display: inline-block;
                            font-size: 1rem;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 0.461);

                            &:not(:last-child)::after {
                                content: ' | ';
                                padding-inline: 0.3rem;
                                color: $secondary-color;
                                font-weight: 500;
                            }
                        }
                    }
                }

                &__genres {
                    margin-block: 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .8rem;

                    &__genre {
                        color: rgb(58, 160, 255);
                        padding: .6rem .9rem ;
                        background-color: rgba(68, 107, 249, 0.119);
                        border: 1px solid rgba(58, 160, 255, 0.336);
                        border-radius: 10px;
                        font-size: .9rem;
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        letter-spacing: .5px;
                    }
                }

                &__tagline {
                    color: #77bbfb;
                }

                &__overview {
                    @include media-mobile {
                        max-width: 100%;
                        font-size: 1rem;
                    }
                    max-width: 90%;
                    font-size: 1.1rem;
                    margin-block: .5rem 2rem;
                }

                &__stats {
                    @include media-tablet {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    
                    @include media-mobile {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    row-gap: 2rem;
                    column-gap: 2rem;
                }
            }
        }
    
        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.459);
            z-index: 10;
            backdrop-filter: blur(19px);
        }
    }