@import '../config';

.movie {
    @include media-mobile{
        margin-bottom: 1.3rem;
        gap: .6rem;
        height: 130px;
    }
    
    display: flex;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    max-width: 1024px;
    margin-inline: auto;
    height: 180px;
    gap: .6rem;
    background-color: transparent;
    cursor: pointer;


    &__image {
        border-radius: 10px;
        // max-width: 200px;
        display: inline-block;
        flex: 0 0 0;
    }

    &__details {
        @include media-mobile{
            padding: 0;
            height: 100%;
        }

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        &__title {
            @include media-tablet {
                font-size: 1rem;
            }
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: .1px;
            color: $primary-text-color;
            line-height: 1.2;
        }

        &__release {
            color: $secondary-text-color;
            font-size: .95rem;
            font-weight: 500;
        }

        &__genre {
            @include media-mobile {
                letter-spacing: .1px;
            }

            color: #95c7f7;
            font-weight: 400;
            font-size: .9rem;
            letter-spacing: .5px;
            line-height: 1.1;
        }

        &__overview {
            @include media-mobile {
                display: none;
            }
            
            width: 100%;
            line-height: 1.4;
            letter-spacing: .3px;
            color: $secondary-text-color;
            font-size: 1rem;
            overflow: hidden;
            max-height: 3rem;
        }

        &__rating {
            @include media-mobile {
                position: initial;
            }
            position: absolute;
            top: .6rem;
            right: .6rem;
        }
    }
}