@import '../config';

.movie {
    @include media-mobile{
        margin-bottom: 1.5rem;
        gap: .6rem;
        height: 110px;
    }
    
    display: flex;
    align-items: top;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    max-width: 1024px;
    height: 160px;
    gap: .6rem;
    background-color: transparent;
    cursor: pointer;
    transition: transform .2s ease-in-out;

    &:active {
        transform: scale(.95);
    }


    &__image {
        @include media-mobile {
            max-width: 87.83px;
        }
        border-radius: 10px;
        display: inline-block;
        flex: 0 0 0;
        max-width: 121.61px;
    }

    &__details {
        @include media-mobile{
            padding: 0;
            height: 100%;
        }

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        &__title {
            @include media-tablet {
                font-size: 1rem;
                max-width: 80%;
            }

            @include media-mobile {
                max-width: 100%;
            }

            font-family: 'Heebo', sans-serif;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: .1px;
            color: $primary-text-color;
            line-height: 1.2;
            max-width: 70%;
            
        }

        &__genre {
            @include media-mobile {
                letter-spacing: .1px;
            }

            color: #60a3fa;
            font-weight: 400;
            font-size: .9rem;
            letter-spacing: .5px;
            line-height: 1.1;
        }

        &__overview {
            @include media-mobile {
                display: none;
            }
            
            width: 100%;
            line-height: 1.4;
            letter-spacing: .3px;
            color: $secondary-text-color;
            font-size: 1rem;
            overflow: hidden;
            max-height: 2.85rem;
        }

        &__rating {
            @include media-mobile {
                position: initial;
            }
            position: absolute;
            top: .6rem;
            right: .6rem;
        }
    }
}