@import '../config';

.widget {
    @include media-tablet {
        padding-bottom: 2rem;
    }
    padding-bottom: 3rem;

    &:nth-last-child() {
        padding-bottom: 0;
    }

    &__title {
        @include media-mobile {
            font-size: 1.2rem;
        }
        color: $primary-text-color;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: .2px;
        // text-align: center;
        padding-bottom: 1rem;
    }
    
    .movie {
        @include media-tablet {
            height: 180px;
        }

        @include media-mobile {
            height: 110px;
        }
        display: flex;
        height: 110px;
        margin-bottom: 1.3rem;
        background-color: transparent;
        gap: .6rem;
        cursor: pointer;
    
        &__image {
            border-radius: 10px;
            display: inline-block;
            flex: 0 0 0;
        }
    
        &__details {
            flex-grow: 1;
            position: relative;
            overflow: hidden;
            max-height: 210px;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            &__title {
                color: $primary-text-color;
                line-height: 1;
                font-size: .9rem;
                letter-spacing: .3px;
                max-width: 75%;
                font-weight: 500;
                line-height: 1.2;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
    
            &__genre {                
                color: #60a3fa;
                font-weight: 400;
                font-size: .85rem;
                line-height: 1.1;
                letter-spacing: .3px;
            }

            .rating {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__view-more {
        display: block;
        width: 100%;
        border: 1px solid $secondary-color;
        // background-color: transparent;
        transition: background-color .3s ease-in-out;
    }
}