.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

nav {
  background-color: rgba(12, 25, 54, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

nav .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}

nav .nav .header-logo {
  color: #6a89ee;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav .nav .header-logo span {
  color: #f5f6fa;
  padding: 5px;
  background-color: #6a89ee;
  border-radius: 5px;
  margin-left: 0.2rem;
}

nav .nav .header-form #searchInput {
  font-family: inherit;
  padding: 0.5rem 0.7rem;
  font-family: inherit;
  background-color: #0c1936;
  color: #dcdde1;
  border: 2px solid #273c75;
  border-right: none;
  border-radius: 5px 0 0 5px;
  letter-spacing: .5px;
  transition: all .2s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 569px) {
  nav .nav .header-form #searchInput {
    max-width: 180px;
    padding: 0.3rem 0.5rem;
  }
}

nav .nav .header-form #searchInput:focus {
  outline: none;
  box-shadow: 0 0 10px #203f61;
  background-color: #0c1936;
}

nav .nav .header-form #searchInput:focus + #searchButton {
  box-shadow: 0 0 10px #203f61;
}

nav .nav .header-form #searchInput::placeholder {
  font-family: inherit;
  color: #dcdde1;
  text-overflow: ellipsis;
  font-size: .9rem;
}

nav .nav .header-form #searchButton {
  color: #f5f6fa;
  padding: 0.5rem 0.9rem;
  border-radius: 0 5px 5px 0;
  background-color: #0c1936;
  border: 2px solid #273c75;
  border-left: none;
  cursor: pointer;
}

@media screen and (max-width: 569px) {
  nav .nav .header-form #searchButton {
    padding: 0.3rem 0.5rem;
  }
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.hero {
  width: 100%;
  color: #f5f6fa;
  overflow-x: hidden;
  margin-top: 95px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  height: calc(100vh - 540px);
  padding: 1.5rem 2rem;
  gap: 1.2rem;
}

@media screen and (max-width: 569px) {
  .hero__images {
    gap: 0;
  }
}

.hero__images__image {
  width: 130px;
  height: 93%;
  position: relative;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 569px) {
  .hero__images__image {
    width: 0;
    margin: 0;
    opacity: 0;
  }
}

.hero__images__image.active {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 569px) {
  .hero__images__image.active {
    opacity: 1;
  }
}

.hero__images__image.active h2 {
  animation: fadeIn 1.7s ease-in-out forwards;
}

.hero__images__image h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-weight: 700;
  max-width: 75%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  opacity: 0;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .hero__images__image h2 {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero__images__image h2 {
    font-size: 1.2rem;
  }
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.movie {
  display: flex;
  border-radius: 10px;
  margin-bottom: 2rem;
  max-width: 1000px;
  margin-inline: auto;
  height: 200px;
  background: #141516b9;
  border: 1px solid #718093a2;
}

@media screen and (max-width: 569px) {
  .movie {
    height: 130px;
    margin-bottom: 1.5rem;
  }
}

.movie__image {
  border-radius: 10px 0 0 10px;
  max-width: 130px;
  display: inline-block;
  flex: 0 0 0;
}

.movie__details {
  padding: 1.7rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  max-height: 180px;
}

@media screen and (max-width: 569px) {
  .movie__details {
    padding: .6rem;
    height: 100%;
  }
}

.movie__details__title {
  font-size: 1.2rem;
  margin-bottom: .2rem;
  font-weight: 600;
  max-width: 75%;
  letter-spacing: .5px;
  color: #f5f6fa;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .movie__details__title {
    font-size: 1rem;
    letter-spacing: .1px;
    max-width: 95%;
  }
}

.movie__details__title span {
  color: #dcdde1;
}

.movie__details__genre {
  color: #95c7f7;
  font-weight: 400;
  font-size: .85rem;
  margin-bottom: 1.5rem;
  letter-spacing: .5px;
  max-width: 75%;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .movie__details__genre {
    letter-spacing: .1px;
    max-width: 100%;
  }
}

.movie__details__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #718093;
  width: 41px;
  height: 41px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #2f3640;
  letter-spacing: .7px;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

@media screen and (max-width: 569px) {
  .movie__details__rating {
    top: auto;
    bottom: .6rem;
    right: .6rem;
    font-size: .85rem;
    width: 30px;
    height: 30px;
    letter-spacing: .3px;
  }
}

.movie__details__rating.green {
  color: #4cd137;
}

.movie__details__rating.orange {
  color: #fbc531;
}

.movie__details__rating.red {
  color: #e84118;
}

.movie__details__overview {
  line-height: 1.4;
  width: 90%;
  letter-spacing: .3px;
  color: #dcdde1;
  font-size: .95rem;
  max-height: 3.8rem;
  overflow: hidden;
}

@media screen and (max-width: 569px) {
  .movie__details__overview {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #15181b;
  background: linear-gradient(210deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url(/public/images/hero-bg.jpg) no-repeat center center/cover;
  overflow-x: hidden;
}

body .container main #movies {
  border-top: 1px solid #718093a2;
  padding-top: 20px;
}

body .container main #movies .movies__categories {
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 250px;
  margin-inline: auto;
  margin-block: 1rem 2rem;
  background-color: #0c1936;
  padding: 4px;
  gap: 4px;
}

body .container main #movies .movies__categories__category {
  font-family: inherit;
  width: 100%;
  padding: .35rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: .85rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .5px;
  background-color: #0c1936;
  cursor: pointer;
  transition: all .2s linear;
}

body .container main #movies .movies__categories__category.active {
  color: #0c1936;
  background-color: #f5f6fa;
}

body .container main .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: .5rem;
  margin-block-end: 2rem;
}

body .container main .pages__page {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  color: #dcdde1;
  background-color: transparent;
  border: none;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

body .container main .pages__page.active {
  color: #f5f6fa;
  border: 1px solid #dcdde1;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

body .container footer {
  color: #f5f6fa;
  text-align: center;
  background-color: #0c1936;
  padding-block: 1.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 569px) {
  body .container footer {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=main.css.map */