@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

nav .nav {
  display: flex;
  align-items: center;
  padding: .8rem 1.5rem;
}

@media screen and (max-width: 769px) {
  nav .nav {
    justify-content: center;
  }
}

nav .nav .logo {
  width: 150px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

.hero {
  width: 100%;
  color: #f5f6fa;
  overflow-x: hidden;
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43vh;
  width: 80%;
  margin: 0 auto;
  background: url(/public/images/hero.webp) no-repeat center center/cover;
  z-index: 10;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 569px) {
  .hero__image {
    height: 35vh;
  }
}

.hero__image::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.801);
}

.hero__image h2 {
  max-width: 500px;
}

@media screen and (max-width: 569px) {
  .hero__image h2 {
    max-width: 380px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

.movie {
  display: flex;
  border-radius: 10px;
  margin-bottom: 1.7rem;
  max-width: 1024px;
  margin-inline: auto;
  height: 180px;
  gap: .6rem;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 569px) {
  .movie {
    margin-bottom: 1.3rem;
    gap: .6rem;
    height: 130px;
  }
}

.movie__image {
  border-radius: 10px;
  display: inline-block;
  flex: 0 0 0;
}

.movie__details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 569px) {
  .movie__details {
    padding: 0;
    height: 100%;
  }
}

.movie__details__title {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1px;
  color: #f5f6fa;
  line-height: 1.2;
  max-width: 70%;
}

@media screen and (max-width: 769px) {
  .movie__details__title {
    font-size: 1rem;
    max-width: 80%;
  }
}

@media screen and (max-width: 569px) {
  .movie__details__title {
    max-width: 100%;
  }
}

.movie__details__release {
  color: #dcdde1;
  font-size: .95rem;
  font-weight: 500;
}

.movie__details__genre {
  color: #95c7f7;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .5px;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .movie__details__genre {
    letter-spacing: .1px;
  }
}

.movie__details__overview {
  width: 100%;
  line-height: 1.4;
  letter-spacing: .3px;
  color: #dcdde1;
  font-size: 1rem;
  overflow: hidden;
  max-height: 2.85rem;
}

@media screen and (max-width: 569px) {
  .movie__details__overview {
    display: none;
  }
}

.movie__details__rating {
  position: absolute;
  top: .6rem;
  right: .6rem;
}

@media screen and (max-width: 569px) {
  .movie__details__rating {
    position: initial;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

@media screen and (max-width: 569px) {
  h2,
  h3,
  h4,
  h5 {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal-container .modal {
  font-family: inherit;
  width: clamp(30%, 1024px, 80%);
  background-color: #03050c;
  border-radius: 15px;
  height: 90%;
  border: 1px solid #718093a2;
  color: white;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  position: relative;
}

@media screen and (max-width: 769px) {
  .modal-container .modal {
    width: 80%;
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
  }
}

.modal-container .modal h3 {
  display: block;
  line-height: 1.4;
  color: #f5f6fa;
  font-weight: 500;
  font-size: 1rem;
}

.modal-container .modal__x-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.modal-container .modal__hero {
  width: 100%;
  height: 40%;
}

@media screen and (max-width: 569px) {
  .modal-container .modal__hero {
    height: 40vh;
  }
}

.modal-container .modal__details {
  position: absolute;
  top: 23%;
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .95rem;
}

@media screen and (max-width: 769px) {
  .modal-container .modal__details {
    top: 20%;
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal__details {
    top: 28%;
  }
}

.modal-container .modal__details__profile {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  color: #dcdde1;
  margin-bottom: 3rem;
}

.modal-container .modal__details__profile__image {
  width: 120px;
  border-radius: 10px;
}

.modal-container .modal__details__profile__title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .modal-container .modal__details__profile__title {
    max-width: 80%;
  }
}

.modal-container .modal__details__genres {
  margin-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.modal-container .modal__details__genres__genre {
  padding: .4rem .9rem;
  border: 1px solid #718093;
  background-color: #21252b;
  border-radius: 5px;
  font-size: .9rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: .5px;
}

.modal-container .modal__details__tagline {
  color: #95c7f7;
}

.modal-container .modal__details__overview {
  max-width: 90%;
  margin-top: 2rem;
}

@media screen and (max-width: 569px) {
  .modal-container .modal__details__overview {
    max-width: 100%;
  }
}

.modal-container .modal__details__stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

@media screen and (max-width: 769px) {
  .modal-container .modal__details__stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal__details__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal-container .modal__details .fa-regular,
.modal-container .modal__details .fa-solid {
  margin-right: .5rem;
  color: #3f06aa;
}

.modal-container .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

.sneakpeak {
  font-family: inherit;
}

.sneakpeak-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sneakpeak-header__title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}

@media screen and (max-width: 569px) {
  .sneakpeak-header__title {
    font-size: 1.2rem;
  }
}

.sneakpeak-header__view-all {
  color: #2d94f5;
  text-decoration: none;
  font-family: inherit;
}

.sneakpeak__results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 145px);
  justify-content: left;
  border-radius: 10px;
  padding: 1.5rem;
  row-gap: 1.7rem;
  column-gap: 3rem;
  justify-content: space-around;
}

@media screen and (max-width: 769px) {
  .sneakpeak__results {
    padding: 1.5rem 0 0 0;
    column-gap: 1.5rem;
  }
}

@media screen and (max-width: 569px) {
  .sneakpeak__results {
    grid-template-columns: repeat(auto-fill, 100px);
    column-gap: 1.3rem;
  }
}

.sneakpeak__results__card {
  font-family: inherit;
  max-width: 145px;
  margin: 0 auto;
  align-items: start;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 569px) {
  .sneakpeak__results__card {
    max-width: 105px;
  }
}

.sneakpeak__results__card .rating {
  top: .3rem;
  right: .3rem;
}

.sneakpeak__results__card__image {
  border-radius: 10px;
  margin-bottom: .5rem;
  max-width: 145px;
}

@media screen and (max-width: 569px) {
  .sneakpeak__results__card__image {
    max-width: 105px;
  }
}

.sneakpeak__results__card__title {
  color: #f5f6fa;
  line-height: 1.1;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 569px) {
  .sneakpeak__results__card__title {
    font-size: .95rem;
  }
}

.sneakpeak__results__card__release-date {
  color: #dcdde1;
  font-size: .95rem;
}

@media screen and (max-width: 569px) {
  .sneakpeak__results__card__release-date {
    font-size: .9rem;
  }
}

.sneakpeak__results__card .rating {
  position: absolute;
  top: .2rem;
  right: .2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2.1rem;
  margin-block-end: 2rem;
}

.pages__page {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  color: #dcdde1;
  background-color: transparent;
  border: none;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

.pages__page.active {
  color: #f5f6fa;
  border: 1px solid #dcdde1;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }
}

.categories {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: .6rem;
}

.categories__category {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .categories__category {
    font-size: 1rem;
  }
}

.categories__category:nth-child(1) {
  border-right: 2px solid #dcdde1;
  padding-right: 1rem;
}

.categories__category:nth-child(2) {
  padding-left: 1rem;
}

.categories__category.active {
  color: #f5f6fa;
  font-style: italic;
}

.btn {
  font-family: inherit;
  padding: .7rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: .95rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3f06aa;
  transition: all .3s ease-in-out;
}

.btn.active {
  color: #f5f6fa;
  background-color: #3f06aa;
}

.title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.2rem;
  }
}

.title span {
  color: #eeb32c;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4b5057;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: .95rem;
  font-weight: 600;
  background-color: #1d1e1fef;
  letter-spacing: .7px;
}

@media screen and (max-width: 569px) {
  .rating {
    font-size: .9rem;
    letter-spacing: .3px;
    width: 40px;
    height: 40px;
  }
}

.rating.green {
  color: #4cd137;
}

.rating.orange {
  color: #fbc531;
}

.rating.red {
  color: #ff3a3a;
}

.widget {
  padding-bottom: 4rem;
}

@media screen and (max-width: 769px) {
  .widget {
    padding-bottom: 2rem;
  }
}

.widget:nth-last-child() {
  padding-bottom: 0;
}

.widget__title {
  color: #f5f6fa;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .2px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 569px) {
  .widget__title {
    font-size: 1.2rem;
  }
}

.widget .movie {
  display: flex;
  height: 120px;
  margin-bottom: 1.3rem;
  background-color: transparent;
  gap: .6rem;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .widget .movie {
    height: 180px;
  }
}

@media screen and (max-width: 569px) {
  .widget .movie {
    height: 130px;
  }
}

.widget .movie__image {
  border-radius: 10px;
  display: inline-block;
  flex: 0 0 0;
}

.widget .movie__details {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  max-height: 210px;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.widget .movie__details__title {
  color: #f5f6fa;
  line-height: 1;
  font-size: 1rem;
  letter-spacing: .1px;
  max-width: 75%;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.widget .movie__details__genre {
  color: #95c7f7;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.1;
  margin-bottom: .5rem;
}

.widget .movie__details .rating {
  width: 40px;
  height: 40px;
}

.widget__view-more {
  width: 100%;
  border: none;
  background-color: #2d58f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@media screen and (max-width: 569px) {
  * ::-webkit-scrollbar {
    height: 0;
  }
}

* ::-webkit-scrollbar-track {
  background: #09123a;
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  background: #3f06aa;
  border-radius: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.97);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.88)), url(/public/images/background.webp) no-repeat center center/cover;
}

body .container {
  width: 100%;
  min-height: 100vh;
}

body .container .main-aside {
  display: grid;
  grid-template-columns: 4fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  body .container .main-aside {
    grid-template-columns: 1fr;
  }
}

body .container main .categories-search-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

body .container main .search-form {
  background-color: transparent;
  color: #dcdde1;
  border: 1px solid #3f06aa;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body .container main .search-form .fa-magnifying-glass {
  padding: 0 .6rem;
}

body .container main .search-form #search-input {
  font-family: inherit;
  background-color: transparent;
  color: #dcdde1;
  border: none;
  border-radius: 10px;
  letter-spacing: .5px;
  transition: all .2s ease-in-out;
  padding-block: .6rem;
  padding-right: .8rem;
}

@media screen and (max-width: 769px) {
  body .container main .search-form #search-input {
    width: 120px;
  }
}

body .container main .search-form #search-input:focus {
  outline: none;
  background-color: transparent;
}

body .container main .search-form #search-input::placeholder {
  font-family: inherit;
  color: #dcdde1;
  font-size: .9rem;
  font-weight: 400;
}

body .container main .movies-form {
  display: none;
}

@media screen and (max-width: 769px) {
  body .container main .movies-form {
    margin-bottom: 1rem;
    display: block;
  }
}

body .container main .movies-title {
  text-align: center;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 769px) {
  body .container main .movies-title {
    display: none;
  }
}

body .container main .movies-mobile-title {
  display: none;
}

@media screen and (max-width: 769px) {
  body .container main .movies-mobile-title {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  body .container main .movies-desktop-form {
    display: none;
  }
}

body .container main .movies-categories {
  padding-bottom: 1.5rem;
}

body .container main .no-results {
  color: #f5f6fa;
  text-align: center;
  font-size: 1.3rem;
  padding-block: 3rem 6rem;
  font-weight: 400;
}

body .container aside {
  border-left: 2px solid rgba(97, 92, 92, 0.174);
  color: #dcdde1;
}

@media screen and (max-width: 769px) {
  body .container aside {
    border-left: none;
    border-top: 2px solid rgba(97, 92, 92, 0.174);
  }
}

body .container footer {
  color: #f5f6fa;
  text-align: center;
  background-color: rgba(6, 13, 45, 0.853);
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 569px) {
  body .container footer {
    font-size: .9rem;
  }
}

body .container footer a {
  color: #0080ff;
}

body .container footer .wrapper {
  padding-block: 2rem;
}
/*# sourceMappingURL=main.css.map */