@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.title span {
  color: #ffb60c;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.title span {
  color: #ffb60c;
}

nav {
  background-color: rgba(19, 16, 59, 0.97);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

nav .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

nav .nav .header-logo {
  color: #1f68de;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav .nav .header-logo span {
  color: #f5f6fa;
  padding: 5px;
  background-color: #1f68de;
  border-radius: 5px;
  margin-left: 0.2rem;
}

nav .nav .header-form #searchInput {
  width: 80px;
  font-family: inherit;
  padding: 0.5rem 0.7rem;
  font-family: inherit;
  background-color: #13103b;
  color: #dcdde1;
  border: 2px solid #1f68de;
  border-right: none;
  border-radius: 5px 0 0 5px;
  letter-spacing: .5px;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 569px) {
  nav .nav .header-form #searchInput {
    padding: 0.3rem 0.5rem;
  }
}

nav .nav .header-form #searchInput:focus {
  outline: none;
  box-shadow: 0 0 10px #1f68de;
  background-color: #13103b;
  width: 200px;
}

@media screen and (max-width: 569px) {
  nav .nav .header-form #searchInput:focus {
    width: 130px;
  }
}

nav .nav .header-form #searchInput:focus + #searchButton {
  box-shadow: 0 0 10px #203f61;
}

nav .nav .header-form #searchInput::placeholder {
  font-family: inherit;
  color: #dcdde1;
  text-overflow: ellipsis;
  font-size: .9rem;
}

nav .nav .header-form #searchButton {
  color: #f5f6fa;
  padding: 0.5rem 0.9rem;
  border-radius: 0 5px 5px 0;
  background-color: #13103b;
  border: 2px solid #1f68de;
  border-left: none;
  cursor: pointer;
}

@media screen and (max-width: 569px) {
  nav .nav .header-form #searchButton {
    padding: 0.3rem 0.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.title span {
  color: #ffb60c;
}

.hero {
  width: 100%;
  color: #f5f6fa;
  overflow-x: hidden;
  margin-top: 95px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  height: calc(100vh - 540px);
  max-height: 700px;
  padding: 1.5rem 2rem;
  gap: 1.2rem;
}

@media screen and (max-width: 569px) {
  .hero__images {
    gap: 0;
  }
}

.hero__images__image {
  width: 130px;
  height: 93%;
  position: relative;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 569px) {
  .hero__images__image {
    width: 0;
    margin: 0;
    opacity: 0;
  }
}

.hero__images__image.active {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 569px) {
  .hero__images__image.active {
    opacity: 1;
  }
}

.hero__images__image.active h2 {
  animation: fadeIn 1.7s ease-in-out forwards;
}

.hero__images__image h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-weight: 700;
  max-width: 75%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  opacity: 0;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .hero__images__image h2 {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .hero__images__image h2 {
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.title span {
  color: #ffb60c;
}

.movie {
  display: flex;
  border-radius: 10px;
  margin-bottom: 2rem;
  max-width: 1024px;
  margin-inline: auto;
  height: 200px;
  background: #141516b9;
  border: 1px solid #718093a2;
  cursor: pointer;
}

@media screen and (max-width: 569px) {
  .movie {
    height: 130px;
    margin-bottom: 1.5rem;
  }
}

.movie__image {
  border-radius: 10px 0 0 10px;
  max-width: 200px;
  display: inline-block;
  flex: 0 0 0;
}

.movie__details {
  padding: 1.7rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  max-height: 180px;
}

@media screen and (max-width: 569px) {
  .movie__details {
    padding: .6rem;
    height: 100%;
  }
}

.movie__details__title {
  font-size: 1.2rem;
  margin-bottom: .2rem;
  font-weight: 600;
  max-width: 75%;
  letter-spacing: .5px;
  color: #f5f6fa;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .movie__details__title {
    font-size: 1rem;
    letter-spacing: .1px;
    max-width: 95%;
  }
}

.movie__details__title span {
  color: #dcdde1;
}

.movie__details__genre {
  color: #95c7f7;
  font-weight: 400;
  font-size: .85rem;
  margin-bottom: 1.5rem;
  letter-spacing: .5px;
  max-width: 75%;
  line-height: 1.1;
}

@media screen and (max-width: 569px) {
  .movie__details__genre {
    letter-spacing: .1px;
    max-width: 100%;
  }
}

.movie__details__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #718093;
  width: 41px;
  height: 41px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #2f3640a7;
  letter-spacing: .7px;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

@media screen and (max-width: 569px) {
  .movie__details__rating {
    top: auto;
    bottom: .6rem;
    right: .6rem;
    font-size: .85rem;
    width: 30px;
    height: 30px;
    letter-spacing: .3px;
  }
}

.movie__details__rating.green {
  color: #4cd137;
}

.movie__details__rating.orange {
  color: #fbc531;
}

.movie__details__rating.red {
  color: #ff3a3a;
}

.movie__details__overview {
  line-height: 1.4;
  width: 90%;
  letter-spacing: .3px;
  color: #dcdde1;
  font-size: .95rem;
  max-height: 3.8rem;
  overflow: hidden;
}

@media screen and (max-width: 569px) {
  .movie__details__overview {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media screen and (max-width: 569px) {
  .wrapper {
    padding-inline: 1.5rem;
  }
}

.title {
  text-align: center;
  padding-block-start: 1.5rem;
  padding-inline: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 600;
  color: #f5f6fa;
}

@media screen and (max-width: 569px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1;
  }
}

.title span {
  color: #ffb60c;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

@media screen and (max-width: 569px) {
  h2,
  h3,
  h4,
  h5 {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal-container .modal {
  font-family: inherit;
  width: clamp(40%, 1024px, 90%);
  background-color: #141516f8;
  border-radius: 5px;
  border: 1px solid #718093a2;
  color: white;
  z-index: 11;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-areas: 'title title' 'image details' 'image overview';
  grid-template-columns: 1fr 3fr;
  align-items: start;
  justify-content: start;
  column-gap: 2rem;
  padding: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  .modal-container .modal {
    grid-template-areas: 'title title' 'image details'  'overview overview';
    row-gap: 2rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal {
    width: 100%;
    height: 100%;
    grid-template-areas: 'image image' 'title title' 'details details' 'overview overview';
    grid-template-columns: 1fr 3fr;
    row-gap: 0;
    padding-top: 1rem;
    padding: 1rem;
    border: 0;
  }
}

.modal-container .modal .modal__x-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.modal-container .modal .modal__title {
  max-width: 90%;
  color: #f5f6fa;
  font-size: 1.6rem;
  letter-spacing: .6px;
  line-height: 1.1;
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: #1f68de;
  grid-area: title;
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__title {
    font-size: 1.4rem;
    align-self: center;
    margin: 0;
  }
}

.modal-container .modal .modal__image {
  border-radius: 8px;
  display: inline-block;
  max-width: 300px;
  grid-area: image;
}

@media screen and (max-width: 769px) {
  .modal-container .modal .modal__image {
    max-width: 200px;
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__image {
    margin-inline: auto;
    max-width: 180px;
    align-self: end;
  }
}

.modal-container .modal .modal__details {
  grid-area: details;
}

@media screen and (max-width: 769px) {
  .modal-container .modal .modal__details {
    align-self: center;
  }
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__details {
    align-self: start;
  }
}

.modal-container .modal .modal__details__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__details__container {
    padding-bottom: .2rem;
    padding-top: .3rem;
  }
}

.modal-container .modal .modal__details__genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .9rem;
  margin-block: .9rem;
  max-width: 95%;
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__details__genres {
    gap: 0.5rem;
    margin-block: 0.5rem;
  }
}

.modal-container .modal .modal__details__genres__genre {
  padding: .2rem .9rem;
  border: 1px solid #718093;
  border-radius: 1.6rem;
  font-size: 1rem;
}

.modal-container .modal .modal__details__tagline {
  color: #95c7f7;
}

.modal-container .modal .modal__overview {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  height: 13rem;
  overflow-y: auto;
  grid-area: overview;
}

@media screen and (max-width: 569px) {
  .modal-container .modal .modal__overview {
    margin-top: 1.2rem;
    font-size: 1rem;
    height: 10rem;
    overflow-y: auto;
    border: 1px solid red;
  }
}

.modal-container .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #15181b;
  background: linear-gradient(to bottom, rgba(4, 3, 15, 0.901), rgba(4, 3, 15, 0.95)), url(/public/images/hero-bg.jpg) no-repeat center center/cover;
}

body .container main #movies {
  border-top: 1px solid #718093a2;
  padding-top: 20px;
}

body .container main #movies .movies__categories {
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 250px;
  margin-inline: auto;
  margin-block: 1rem 2rem;
  background-color: #1f68de;
  padding: 2px;
  gap: 2px;
}

body .container main #movies .movies__categories__category {
  font-family: inherit;
  width: 100%;
  padding: .35rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: .85rem;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .5px;
  background-color: #1f68de;
  cursor: pointer;
  transition: all .2s linear;
}

body .container main #movies .movies__categories__category.active {
  color: #f5f6fa;
  background-color: #13103b;
}

body .container main .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: .5rem;
  margin-block-end: 2rem;
}

body .container main .pages__page {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  color: #dcdde1;
  background-color: transparent;
  border: none;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

body .container main .pages__page.active {
  color: #f5f6fa;
  border: 1px solid #dcdde1;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

body .container footer {
  color: #f5f6fa;
  text-align: center;
  background-color: #13103b;
  padding-block: 1.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 569px) {
  body .container footer {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=main.css.map */