@import '../config';

.hero {
    width: 100%;
    color: #f5f6fa;
    overflow-x: hidden;
    margin-top: 1rem; 
    // border-bottom: 1px solid #718093a2;    

    &__images {
        @include media-mobile {
            gap: 0;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
        height: 43vh;
        max-height: 700px;
        padding: 1.5rem 2rem;
        gap: 1.2rem;

        &__image {
            @include media-mobile {
                margin: 0;
                gap: 0;
                width: 0;
            }
            width: 130px;
            height: 93%;
            position: relative;
            border-radius: 25px;
            transition: all 1s ease-in-out;
            cursor: pointer;

            &.active {
                @include media-mobile {
                    opacity: 1;
                    animation: slideInLeft .6s ease-in-out forwards, slideInRight .6s ease-in-out forwards 3.4s;

                }
                width: 100%;
                height: 100%;
               
                h2 {
                    animation: fadeIn .6s ease-in-out forwards .6s;
                }
            }

            h2 {
                @include media-mobile {
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    width: 100%;
                }

                @include media-tablet {
                    font-size: 1.2rem;
                }

                position: absolute;
                bottom: 2rem;
                left: 2rem;
                font-weight: 700;
                max-width: 75%;
                font-size: 1.4rem;
                letter-spacing: 1px;
                opacity: 0;
                line-height: 1.1;
            }
        }
    }
}