@import '../config';

.hero {
    @include media-tablet {
        grid-template-areas: 'images'
        'circles';
    }
    width: 100%;
    color: #f5f6fa;
    display: grid;
    grid-template-areas: 'left images right'
    'circles circles circles';
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1.5rem;
    column-gap: .5rem;

    &__images {
        grid-area: images;
        margin-inline: auto;
        display: flex;
        overflow: hidden;
        position: relative;

        &__image {
            @include media-tablet {
                width: 100%;
            }
            width: 87%;
            margin: 0 auto;
            z-index: 10;
            position: relative;
            border-radius: 10px;
            display: none;

            &.active {
                display: block;
            }
        }

        &__title {
            @include media-tablet {
                font-size: 1rem;
                width: 100%;
            }
            color: $primary-text-color;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
            width: 100%;
            position: absolute;
            text-align: center;
            bottom: 0;
            left: 0;
            right: 0;
            width: 87%;
            z-index: 10;
            padding-block: 1rem;
            padding-inline: 1.5rem;
            font-size: 1.2rem;
            margin-inline: auto;
            font-weight: 500;
            line-height: 1.15;
            display: none;
            backdrop-filter: blur(2px);
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));

            &.active {
                display: initial;
            }
        }
    }

    &__navigation-arrow {
        @include media-tablet {
            display: none;
        }

        &.left-arrow {
            grid-area: left;
        }

        &.right-arrow {
            grid-area: right;
        }

        background-color: transparent;
        color: #f5f6fa;
        border: none;
        cursor: pointer;

        &:active {
            transform: scale(.9);
        }
    }

    &__navigation-circles {
        width: 100%;
        grid-area: circles;
        display: flex;
        gap: 1rem;
        justify-content: center;

        &__circle {
            width: 8px;
            height: 8px;
            background-color: rgb(95, 95, 95);
            border-radius: 50%;

            &.active {
                background-color: $primary-text-color;
                width: 10px;
                height: 10px;
            }
        }
    }
}
