@import '../config';

.swiper {
    cursor: pointer;

    .swiper-wrapper {

        .swiper-slide {
    
            text-align: center;

            img {
                @include media-tablet {
                    width: 100%;
                }
                border-radius: 10px;
                width: 80%;
                transition: width .4s ease-in-out;
            }
        }
    }

    .swiper-pagination-bullet {
        @include media-tablet {
            width: 10px;
            height: 10px;
        }

        width: 12px;
        height: 12px;
        background-color: $secondary-text-color;
        opacity: .8;

        &-active {
            background-color: $primary-text-color;
        }
    }
}