@import '../config';

nav {
    background-color: rgba($color: $primary-color, $alpha: 0.97);
    

    .nav {
        @include media-mobile {
            height: 65px;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 75px;

        .logo {
            width: 150px;
        }

        .header-form {
            background-color: $primary-color;
            color: #dcdde1;
            border: 2px solid $secondary-color;
            border-radius: 5px;

            .fa-magnifying-glass {
                padding-left: .7rem;
            }

            #searchInput {
                @include media-mobile {
                    padding: 0.5rem;
                }
                width: 80px;
                font-family: inherit;
                padding: 0.7rem;
                font-family: inherit;
                background-color: $primary-color;
                color: #dcdde1;
                border: none;
                letter-spacing: .5px;
                transition: all .2s ease-in-out;

                &:focus {
                    @include media-mobile {
                        width: 130px;
                    }
                    outline: none;
                    background-color: $primary-color;
                    width: 200px;

                    &+#searchButton {
                        box-shadow: 0 0 10px rgb(32, 63, 97);
                    }
                }
                
                &::placeholder {
                    font-family: inherit;
                    color: #dcdde1;
                    text-overflow: ellipsis;
                    font-size: .9rem;
                }
            }
        }
    }
}