@import '../../config';

.sneakpeak {
    @include media-mobile{
        padding-block: 1.5rem 0;
    }
    font-family: inherit;
    padding-block: 1rem 2rem;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @include media-mobile {
                font-size: 1.1rem;
            }
            color: $primary-text-color;
            font-weight: 600;
            font-size: 1.3rem;
        }
    }

    &__results {
        @include media-mobile {
            padding-block: 1.3rem 1rem;
            grid-template-columns: repeat(3,1fr);
        }
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 150px));
        justify-content: space-between;
        row-gap: 1.5rem;
        column-gap: 1.4rem;
        border-radius: 10px;
        padding-block: 1.3rem 2rem;

        &.overflow-x {
            grid-template-columns: repeat(12, 1fr);
            overflow-x: scroll;
        }

        &__card {
            @include media-mobile {
                max-width: 100px;
            }
            font-family: inherit;
            width: 150px;
            margin: 0 auto;

            &__image {
                @include media-mobile {
                    max-width: 100px;
                    height: 140px;
                }
                border-radius: 10px;
                margin-bottom: .5rem;
                width: 150px;
                height: 215px;
            }

            &__title {
                color: $primary-text-color;
                line-height: 1.1;
                font-size: .95rem;
                font-weight: 500;
                padding-bottom: 0.2rem;
            }

            &__release-date {
                color: $secondary-text-color;
                font-size: .9rem;
            }
        }
    }
}
