// MEDIA QUERIES
@mixin media-tablet {
    @media screen and (max-width: 850px) {
        @content;
    }
}

@mixin media-mobile {
    @media only screen and (max-width: 569px) {
        @content;
    }
}


// VARIABLES
$primary-color: #09123a;
$secondary-color: rgba(45, 88, 245, 0.692);
$primary-text-color: rgb(241, 241, 241);
$secondary-text-color: #8b8da5;

// ANIMATIONS
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spread {
    0% {letter-spacing: 0;}

    100% {letter-spacing: 15px;}
}

@keyframes slideInLeft {
    0% {
        width: 100%;
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        width: 100%;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes loading80 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes loading100 {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

// UTILITY CLASSES
.wrapper {
    @include media-mobile {
        padding: 2rem 1rem;
    }
    max-width: 1920px;
    margin-inline: auto;
    padding: 1.2rem 1.5rem;
}

.categories {
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: .6rem;

    &__category {
        @include media-tablet {
            font-size: 1rem;
        }

        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: $secondary-text-color;
        border: none;
        background-color: transparent;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:nth-child(1) {
            @include media-mobile{
                padding-right: .5rem;
            }
            padding-right: 1rem;

            &.active {
                border-right: 2px solid $secondary-color;
            }
        }

        &:nth-child(2) {
            @include media-mobile{
                padding-left: .5rem;
            }
            padding-left: 1rem;

            &.active {
                border-left: 2px solid $secondary-color;
            }
        }

        &.active {
            color: $primary-text-color;

        }

        &:active {
            transform: scale(.9);
        }
    }
}

.btn {
    font-family: inherit;
    padding: .7rem 1.4rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: .95rem;
    color: rgb(45, 148, 245);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .5px;
    background-color: rgba(68, 107, 249, 0.092);
    border: 1px solid $secondary-color;
    transition: all .2s ease-in-out;

    &:hover {
        border: 1px solid rgba(62, 104, 255, 0.886);
        background-color: rgba(68, 107, 249, 0.182);
    }

    &:active {
        transform: scale(.95);
    }
}

.title {
    @include media-mobile {
        font-size: 1.2rem;
    }

    font-family: 'Poppins', sans-serif;
    color: $primary-text-color;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .2px;

    span {
        color: rgb(238, 179, 44);
    }
}

.rating {
    @include media-tablet{
        letter-spacing: .3px;
        width: 35px;
        height: 35px;
        font-size: .85rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.157);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 500;
    background-color: #000000c1;
    backdrop-filter: blur(8px);
    letter-spacing: .7px;

    &.green {
        color: #4cd137;
    }

    &.orange {
        color: #fbc531;
    }

    &.red {
        color: #ff3a3a;
    }
}