// MEDIA QUERIES
@mixin media-tablet {
    @media screen and (max-width: 769px) {
        @content;
    }
}

@mixin media-mobile {
    @media screen and (max-width: 569px) {
        @content;
    }
}


// VARIABLES
$primary-color: #09123a;
$secondary-color: #3f06aa;
$primary-text-color: #f5f6fa;
$secondary-text-color: #dcdde1;

// ANIMATIONS
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {
        width: 100%;
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        width: 100%;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

// UTILITY CLASSES
.wrapper {
    @include media-tablet {
        padding: 1rem 1.5rem;
    }
    max-width: 1920px;
    margin-inline: auto;
    padding: 1rem 1.5rem;
}

.categories {
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: .6rem;

    &__category {
        @include media-tablet {
            font-size: 1rem;
        }
        font-family: inherit;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(95, 95, 95);
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:nth-child(1) {
            border-right: 2px solid $secondary-text-color;
            padding-right: 1rem;
        }

        &:nth-child(2) {
            padding-left: 1rem;
        }

        &.active {
            color: $primary-text-color;
            font-style: italic;
        }
    }
}

.btn {
    font-family: inherit;
    padding: .7rem 1.4rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: .95rem;
    color: #f5f6fa;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid $secondary-color;
    transition: all .3s ease-in-out;

    &.active {
        color: $primary-text-color;
        background-color: $secondary-color;
    }
}

.title {
    @include media-mobile {
        font-size: 1.2rem;
    }
    max-width: 25ch;
    margin-inline: auto;
    color: $primary-text-color;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .2px;
    text-align: center;
    padding-bottom: 1.5rem;

    span {
        color: rgb(238, 177, 37);
    }
}

.rating {
    @include media-mobile{
        font-size: .9rem;
        letter-spacing: .3px;
        width: 40px;
        height: 40px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4b5057;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: .95rem;
    font-weight: 600;
    background-color: #1d1e1fef;
    letter-spacing: .7px;

    &.green {
        color: #4cd137;
    }

    &.orange {
        color: #fbc531;
    }

    &.red {
        color: #ff3a3a;
    }
}