// MEDIA QUERIES
@mixin media-tablet {
    @media screen and (max-width: 769px) {
        @content;
    }
}

@mixin media-mobile {
    @media screen and (max-width: 569px) {
        @content;
    }
}


// VARIABLES
$primary-color: #09123a;
$secondary-color: #5b38f8;
$primary-text-color: #f5f6fa;
$secondary-text-color: #dcdde1;

// ANIMATIONS
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {
        width: 100%;
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        width: 100%;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

// UTILITY CLASSES
.wrapper {
    @include media-mobile{
        padding-inline: 1.5rem;
    }

    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.categories {
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    padding: 2px;
    gap: .7rem;

    &__category {
        font-family: inherit;
        width: 100%;
        padding: .35rem;
        text-align: center;
        border-radius: 5px;
        border: none;
        font-size: .85rem;
        color: #f5f6fa;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: .5px;
        background-color: transparent;
        cursor: pointer;
        transition: all .2s linear;
        border: 1px solid $secondary-color;
    
        &.active {
            color: $primary-text-color;
            background-color: $secondary-color;
        }
    }
}


.title {
    @include media-mobile {
        font-size: 1.4rem;
        letter-spacing: .7px;
        line-height: 1;
    }
    text-align: center;
    padding-inline: 2rem;
    font-size: 2rem;
    letter-spacing: 2px;  
    line-height: 1.1;
    font-weight: 600;
    color: #f5f6fa;   
    
    span {
        color: rgb(255, 182, 12);
    }
}