@import './config';
@import './header/nav';
@import './header/hero';
@import './main/movie';
@import './main/modal';
@import './main/sneakpeak/_sneakpeak';

// BASIC RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* width */
    ::-webkit-scrollbar {
        @include media-mobile {
            height: 0;
        }
        width: 6px;
        height: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: $primary-color;
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(21, 24, 27);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.88)), url(/public/images/hero-bg.webp) no-repeat center center/cover;

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 0;
        justify-content: space-between;
        main {
            padding-bottom: 2rem;

            #movies {
                padding-top: 20px;
                display: none;
            }

            .no-results {
                color: $primary-text-color;
                text-align: center;
                font-size: 1.3rem;
                padding-block: 3rem 6rem;
                font-weight: 400;
            }

            .pages {
                display: flex;
                display: none;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding-top: 2.1rem;
                margin-block-end: 2rem;
    
                &__page {
                    font-family: inherit;
                    font-size: 1rem;
                    font-weight: 600;
                    min-width: 30px;
                    text-align: center;
                    text-decoration: none;
                    color: #dcdde1;
                    background-color: transparent;
                    border: none;
                    transition: background-color .2s ease-in-out;
                    cursor: pointer;
    
                    &.active {
                        color: #f5f6fa;
                        border: 1px solid #dcdde1;
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 1rem;
                    }
                }
            }
        }
        
        footer {
            @include media-mobile {
                font-size: .9rem;
            }

            color: #f5f6fa;
            text-align: center;
            background-color: $primary-color;
            padding-block: 1.8rem;
            font-size: 1rem;
        }
    }   
}