@import './config';
@import './header/nav';
@import './header/hero';
@import './main/movie';
@import './main/modal';
@import './main/sneakpeak';
@import './main/pages';
@import './aside/widget';

@font-face {
    font-family: anuratiRegular;
    src: url(../Anurati-Regular.otf);
    font-display: swap;
}

// BASIC RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* width */
    ::-webkit-scrollbar {
        @include media-mobile {
            height: 0;
        }
        width: 6px;
        height: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: $primary-color;
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
    }
}


body {
    padding-top: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.971);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url('/public/images/bg-gradient.webp') no-repeat center center/cover;

    .container {
        width: 100%;
        min-height: 100vh;

        .main-aside {
            @include media-tablet {
                grid-template-columns: 1fr;
            }
            display: grid;
            grid-template-columns: 4fr 1fr;
            max-width: 1440px;
            margin: 0 auto;
        }

        main {

            .categories-search-container {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }

            .search-form {
                @include media-mobile {
                    width: 150px;
                }
                background-color: transparent;
                color: #dcdde1;
                border: 1px solid $secondary-color;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                box-shadow: 0 0 10px rgba(45, 88, 245, 0.404);
    
                .fa-magnifying-glass {
                    padding: 0 .6rem;
                }
    
                #search-input {
                    width: 100%;
                    font-family: inherit;
                    background-color: transparent;
                    color: #dcdde1;
                    border: none;
                    border-radius: 10px;
                    letter-spacing: .5px;
                    transition: all .2s ease-in-out;
                    padding-block: .6rem;
                    padding-right: .8rem;
    
                    &:focus {
                        outline: none;

                        background-color: transparent;
                    }
    
                    
                    &::placeholder {
                        font-family: inherit;
                        color: $secondary-text-color;
                        font-size: .9rem;
                        font-weight: 400;
                    }
                }
            }

            .movies-form {
                @include media-tablet {
                    width: initial;
                    margin-bottom: 1rem;
                    display: flex;
                }

                display: none;
            }

            .movies-title {
                @include media-tablet {
                    display: none;
                }
                text-align: left;
                padding-bottom: 1.5rem;
            }

            .movies-mobile-title {
                @include media-tablet {
                    display: block;
                }
                display: none;
            }

            .movies-desktop-form {
                @include media-tablet {
                    display: none;
                }
            }

            .movies-categories {
                padding-bottom: 1.5rem;
            }

            .no-results {
                color: $primary-text-color;
                text-align: center;
                font-size: 1rem;
                padding-block: 3rem 6rem;
                font-weight: 400;
            }
        }

        aside {
            @include media-tablet {
                border-left: none;
                border-top: 1px solid rgba(255, 255, 255, 0.07);
            }
            border-left: 1px solid rgba(255, 255, 255, 0.07);
            color: #dcdde1;
        }
        
        footer {
            color: $secondary-text-color;
            text-align: center;
            background-color: rgba(68, 107, 249, 0.102);
            font-size: .8rem;
            line-height: 1.5;
            border-top: 1px solid rgba(255, 255, 255, 0.07);

            a {
                color: rgb(0, 128, 255);
            }

            .wrapper {
                padding-block: .6rem;
            }
        }
    }   
}
